* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.login-container {
  background-color: white;
  width: 320px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

.avatar {
  width: 85px;
  height: 85px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 16px;
}

.input-group input:focus {
  border-image: linear-gradient(to right, #dede10, #f4e809) 1;
  border-width: 2px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #0f0f0e, #f2e605);
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.login-btn:hover {
  opacity: 0.9;
}

.signup {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

.signup a {
  text-decoration: none;
  font-weight: bold;
  color: #baa92b;
}
